.plasmic_tokens {
  --token-8CVQfqrXrp8M: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-8CVQfqrXrp8M);
  --token-lX9l6mJtxC3d: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-lX9l6mJtxC3d);
  --token-iOjVR0tGx58n: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-iOjVR0tGx58n);
  --token-D_UN8QwOKE7E: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-D_UN8QwOKE7E);
  --token-7TIods8gc2Q-: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-7TIods8gc2Q-);
  --token-_Sg-WJSF6sWS: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-_Sg-WJSF6sWS);
  --token-Ty63XK4FOxB_: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-Ty63XK4FOxB_);
  --token-pBOqQrwjwOu-: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-pBOqQrwjwOu-);
  --token-ZmzwAYGqDgLZ: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token-ZmzwAYGqDgLZ);
  --token-_wnScB46LpoJ: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-_wnScB46LpoJ);
  --token-x8yMXHp64d0O: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-x8yMXHp64d0O);
  --token-PmOgkz80D4Ha: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-PmOgkz80D4Ha);
  --token-6ZFngpHdkJ6a: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-6ZFngpHdkJ6a);
  --token-Qe9oiGEM-N1y: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-Qe9oiGEM-N1y);
  --token-b-p1TH1Hy0vh: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-b-p1TH1Hy0vh);
  --token-LaxVj7Atb5Mm: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-LaxVj7Atb5Mm);
  --token-_6yA3Yb8wUUf: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-_6yA3Yb8wUUf);
  --token-ilUbOSnIAJ9f: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-ilUbOSnIAJ9f);
  --token-d00syojET6Wd: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-d00syojET6Wd);
  --token-pKHbcKr4EGPY: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-pKHbcKr4EGPY);
  --token-nNJLZnZnE3e7: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-nNJLZnZnE3e7);
  --token-C05bzYcD1a7h: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-C05bzYcD1a7h);
  --token-Fc-KoKp_UbPP: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token-Fc-KoKp_UbPP);
  --token-IlzBrJbWeo8y: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-IlzBrJbWeo8y);
  --token-JpRZJNUNGAg4: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-JpRZJNUNGAg4);
  --token-MOXyxW4nczrX: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-MOXyxW4nczrX);
  --token-R70D_T_hzw09: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-R70D_T_hzw09);
  --token-ic5IqUEF7z3w: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-ic5IqUEF7z3w);
  --token-hN3NxJVRQuuo: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-hN3NxJVRQuuo);
  --token-vG118XvTY9SG: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-vG118XvTY9SG);
  --token-ScbWjnBIYzEN: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-ScbWjnBIYzEN);
  --token-7QAwwkWwCYwi: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-7QAwwkWwCYwi);
  --token-CYlvmWWDcG_W: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-CYlvmWWDcG_W);
  --token-HRSBh3PnLb-z: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-HRSBh3PnLb-z);
  --token-2DPTi03Pz6dz: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-2DPTi03Pz6dz);
  --token-iDGlhcmPvMfi: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-iDGlhcmPvMfi);
  --token-aYJlkwkaB6VF: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-aYJlkwkaB6VF);
  --token-sLga-OACKhnZ: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-sLga-OACKhnZ);
  --token-7bSfh-3I3aM6: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-7bSfh-3I3aM6);
  --token-FcZvqKTxpdwY: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-FcZvqKTxpdwY);
  --token-74OaceEixqoc: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-74OaceEixqoc);
  --token-PVM-sJzCWivU: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-PVM-sJzCWivU);
  --token-e_9Xz1858M-Q: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-e_9Xz1858M-Q);
  --token-Rcs2LE2C43Yi: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-Rcs2LE2C43Yi);
  --token-yM5DDCdB5YM-: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-yM5DDCdB5YM-);
  --token-WgB_J8e0XhS_: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-WgB_J8e0XhS_);
  --token-6EgyY79lkm4f: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-6EgyY79lkm4f);
  --token-7kBRYEg791Tc: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-7kBRYEg791Tc);
  --token-6vUcn4mb8PdQ: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-6vUcn4mb8PdQ);
  --token-6jZN3ysN8ZPT: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-6jZN3ysN8ZPT);
  --token-X8QnHPEHbmhw: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-X8QnHPEHbmhw);
  --token-Ja9zFsjvJEpT: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-Ja9zFsjvJEpT);
  --token-VqVx-ZXOdqpZ: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-VqVx-ZXOdqpZ);
  --token-lWL1Zw742iIb: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-lWL1Zw742iIb);
  --token-OUqwX4vrrLwQ: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-OUqwX4vrrLwQ);
  --token-uKleiIulNNyi: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-uKleiIulNNyi);
  --token-T5j5TyA3gIqz: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-T5j5TyA3gIqz);
  --token-Zsn0MlcFr-y-: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-Zsn0MlcFr-y-);
  --token-irgpcZX5MiXE: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-irgpcZX5MiXE);
  --token-ftncH4UyZsoo: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-ftncH4UyZsoo);
  --token-5ei5ImADX2GK: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-5ei5ImADX2GK);
  --token-VU-A_huutFVT: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-VU-A_huutFVT);
  --token-2FvBgZocnf-b: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-2FvBgZocnf-b);
  --token-QQhroRrLXOmx: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-QQhroRrLXOmx);
  --token-zJnjWGWFb98L: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-zJnjWGWFb98L);
  --token-jOG1xUNFF_HY: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-jOG1xUNFF_HY);
  --token-IWvUJV9ID9Vp: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-IWvUJV9ID9Vp);
  --token-tJwKHnEw9ZE8: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-tJwKHnEw9ZE8);
  --token-5cJL6XW6kIRZ: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-5cJL6XW6kIRZ);
  --token-nw2ZzFwm5VI8: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-nw2ZzFwm5VI8);
  --token-Jw5XZRKvMSIc: var(--antd-paddingXXS);
  --plasmic-token-system-padding-xxs: var(--token-Jw5XZRKvMSIc);
  --token-WEZJz44Zjfuf: var(--antd-paddingXS);
  --plasmic-token-system-padding-xs: var(--token-WEZJz44Zjfuf);
  --token-7qSPoet3cXZV: var(--antd-paddingSM);
  --plasmic-token-system-padding-sm: var(--token-7qSPoet3cXZV);
  --token-c54M4Y_rzHSI: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-c54M4Y_rzHSI);
  --token-39Yl6MC7SG4i: var(--antd-paddingMD);
  --plasmic-token-system-padding-md: var(--token-39Yl6MC7SG4i);
  --token-f69Wwi-trtqf: var(--antd-paddingLG);
  --plasmic-token-system-padding-lg: var(--token-f69Wwi-trtqf);
  --token-0vxv05KW0KV8: var(--antd-paddingXL);
  --plasmic-token-system-padding-xl: var(--token-0vxv05KW0KV8);
  --token-bArb1dUyWI8S: var(--antd-marginXXS);
  --plasmic-token-system-margin-xxs: var(--token-bArb1dUyWI8S);
  --token-z-tfazy1IL25: var(--antd-marginXS);
  --plasmic-token-system-margin-xs: var(--token-z-tfazy1IL25);
  --token-2D6RI-W2q_tB: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-2D6RI-W2q_tB);
  --token-KnBQoHQmBo2i: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-KnBQoHQmBo2i);
  --token-v3rCKkfVpxxy: var(--antd-marginMD);
  --plasmic-token-system-margin-md: var(--token-v3rCKkfVpxxy);
  --token-0X7bKlip4Q75: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-0X7bKlip4Q75);
  --token-fwjuq9aLCSGw: var(--antd-marginXL);
  --plasmic-token-system-margin-xl: var(--token-fwjuq9aLCSGw);
  --token-RlXKxCnWOTLM: var(--antd-marginXXL);
  --plasmic-token-system-margin-xxl: var(--token-RlXKxCnWOTLM);
  --token-_j3VZFDTM7Xu: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-_j3VZFDTM7Xu);
  --token-U89j62cV2S4I: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-U89j62cV2S4I);
  --token-yZ8egcsqd56t: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-yZ8egcsqd56t);
  --token-I9IluGR29Dhl: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-I9IluGR29Dhl);
  --token-EQ6kHpY37QjK: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-EQ6kHpY37QjK);
  --token-kX_O7e2XWd2F: var(--antd-fontSizeHeading2);
  --plasmic-token-system-heading-2: var(--token-kX_O7e2XWd2F);
  --token-qp1DM3DqHViU: var(--antd-fontSizeHeading3);
  --plasmic-token-system-heading-3: var(--token-qp1DM3DqHViU);
  --token-IwDMnjitmwbq: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-IwDMnjitmwbq);
  --token-U_W8jCn677ya: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-U_W8jCn677ya);
  --token-R501LYnOpyNB: var(--antd-lineHeight);
  --plasmic-token-system-m: var(--token-R501LYnOpyNB);
  --token-gG1yY4q7nKue: var(--antd-lineHeightLG);
  --plasmic-token-system-lg: var(--token-gG1yY4q7nKue);
  --token-dko34gE4ySqZ: var(--antd-lineHeightSM);
  --plasmic-token-system-sm: var(--token-dko34gE4ySqZ);
  --token-dGyhVLjDOQ7q: var(--antd-lineHeightHeading1);
  --plasmic-token-system-heading-1: var(--token-dGyhVLjDOQ7q);
  --token-abw9M3BOtZLM: var(--antd-lineHeightHeading2);
  --plasmic-token-system-heading-2: var(--token-abw9M3BOtZLM);
  --token-60xO0P2TH7Yb: var(--antd-lineHeightHeading3);
  --plasmic-token-system-heading-3: var(--token-60xO0P2TH7Yb);
  --token-9exaX3m_sy5n: var(--antd-lineHeightHeading4);
  --plasmic-token-system-heading-4: var(--token-9exaX3m_sy5n);
  --token-PU6MHxazYVb1: var(--antd-lineHeightHeading5);
  --plasmic-token-system-heading-5: var(--token-PU6MHxazYVb1);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
