.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  position: relative;
  padding: 20px 80px;
  border-bottom: 1px solid #000000;
}
@media (max-width: 834px) {
  .root {
    padding: 20px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #27273a;
  flex-shrink: 0;
}
.text {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 660px) {
  .text {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .text {
    font-size: 18px;
  }
}
.connectWalletButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.walletIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.copyIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.userIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.logoutIconIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
