.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 430px) {
  .root > * {
    grid-column: 4;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__fBgJz {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  background: #f6fdff;
  height: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.freeBox__j7KbG {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1126px;
  width: 100%;
  padding: 28px 0px 20px;
  margin: 0px auto;
}
.freeBox__j7KbG > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__j7KbG > :global(.__wab_flex-container) > *,
.freeBox__j7KbG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7KbG > :global(.__wab_flex-container) > picture > img,
.freeBox__j7KbG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 834px) {
  .freeBox__j7KbG {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 834px) {
  .freeBox__j7KbG > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 834px) {
  .freeBox__j7KbG > :global(.__wab_flex-container) > *,
  .freeBox__j7KbG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j7KbG > :global(.__wab_flex-container) > picture > img,
  .freeBox__j7KbG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__kPz3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 480px;
  min-width: 0;
}
@media (max-width: 834px) {
  .freeBox__kPz3 {
    max-width: none;
  }
}
.freeBox__uwN59 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.img__hR3Bt {
  object-fit: cover;
  max-height: 480px;
  width: 100%;
  height: 100%;
  max-width: 480px;
  min-width: 0;
  min-height: 0;
}
.img__hR3Bt > picture > img {
  object-fit: cover;
}
@media (max-width: 834px) {
  .img__hR3Bt {
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.tabs:global(.__wab_instance) {
  width: 100%;
  overflow: scroll;
  max-width: 100%;
  object-fit: cover;
  margin-top: 20px;
  min-width: 0;
}
.tabItem__vsLu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yowbu {
  position: relative;
  width: 97px;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  color: #27273a;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__sKbtk {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.freeBox__gSLqA {
  display: flex;
}
.freeBox__cHy08 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000000;
}
.freeBox__cHy08 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cHy08 > :global(.__wab_flex-container) > *,
.freeBox__cHy08 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cHy08 > :global(.__wab_flex-container) > picture > img,
.freeBox__cHy08
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__leSbs {
  position: relative;
  color: #27273a;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___51Sxt {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hifT {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yDrWk {
  display: flex;
}
.freeBox___6Nttk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__umMz2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000000;
}
.freeBox__umMz2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__umMz2 > :global(.__wab_flex-container) > *,
.freeBox__umMz2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__umMz2 > :global(.__wab_flex-container) > picture > img,
.freeBox__umMz2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__uC2Tr {
  position: relative;
  color: #27273a;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hr9Jl {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ol3Fw {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__gh0Vp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000000;
}
.freeBox__gh0Vp > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gh0Vp > :global(.__wab_flex-container) > *,
.freeBox__gh0Vp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gh0Vp > :global(.__wab_flex-container) > picture > img,
.freeBox__gh0Vp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___4W0 {
  position: relative;
  color: #27273a;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mympu {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__o2ZUy {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__a4Bf1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000000;
}
.freeBox__a4Bf1 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__a4Bf1 > :global(.__wab_flex-container) > *,
.freeBox__a4Bf1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a4Bf1 > :global(.__wab_flex-container) > picture > img,
.freeBox__a4Bf1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__mgjTi {
  position: relative;
  color: #27273a;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xZlOb {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__zsYdq {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rUxwI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000000;
}
.freeBox__rUxwI > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rUxwI > :global(.__wab_flex-container) > *,
.freeBox__rUxwI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rUxwI > :global(.__wab_flex-container) > picture > img,
.freeBox__rUxwI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__tioJ {
  position: relative;
  color: #27273a;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__qlqox {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ixxGl {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.tabItem__mZNu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6DCRt {
  position: relative;
  width: 97px;
  height: auto;
  max-width: 100%;
  color: #27273a;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox___2NcuS {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #27273a;
}
.text__qBsIn {
  position: relative;
  color: #27273a;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  background: #e3e3e0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 4px 20px;
  border-bottom: 1px solid #27273a;
}
.text___3Ik2A {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 8px 20px 20px;
}
.freeBox__mgbXe {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 0px 0px 4px 4px;
  border-style: solid;
  border-color: #27273a;
}
.text__v5KZl {
  position: relative;
  color: #27273a;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  background: #e3e3e0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 4px 20px;
  border-bottom: 1px solid #27273a;
}
.freeBox__xVn4B {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}
.freeBox__xVn4B > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__xVn4B > :global(.__wab_flex-container) > *,
.freeBox__xVn4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xVn4B > :global(.__wab_flex-container) > picture > img,
.freeBox__xVn4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__iwxC {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.text__vbiri {
  position: relative;
  color: #27273a;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__oWf6S {
  position: relative;
  max-width: 300px;
  color: #27273a;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__vq4Y {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.text__ext0Q {
  position: relative;
  color: #27273a;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___6GVk6 {
  position: relative;
  max-width: 300px;
  color: #27273a;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yznL {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.text__nxECk {
  position: relative;
  color: #27273a;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__qOwes {
  position: relative;
  max-width: 300px;
  color: #27273a;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__n6JhC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 540px;
  min-width: 0;
}
@media (max-width: 834px) {
  .freeBox__n6JhC {
    max-width: none;
  }
}
.text__tn1Og {
  position: relative;
  color: #27273a;
  font-weight: 900;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 40px;
}
.freeBox__zmJpg {
  display: flex;
  flex-direction: row;
  position: relative;
}
.text__f7Fi {
  position: relative;
  color: #27273a;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px;
}
.freeBox__veySr {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}
.text__pGzQo {
  position: relative;
  color: #85858b;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__jMauQ {
  position: relative;
  color: #27273a;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 10px;
  border: 1px solid #000000;
}
.unlistModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 50px;
  max-height: 50px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(#ff3b30, #ff3b30), #48b7ff;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  border-width: 0px;
}
.unlistModal__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  overflow: hidden;
  outline: none;
}
.freeBox___6K1NB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__lHjXg {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}
.img__lHjXg > picture > img {
  object-fit: cover;
}
.text___7IaWd {
  position: relative;
  color: #27273a;
  margin-top: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__vhzTv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
}
.text__lHhtA {
  position: relative;
  color: #27273a;
  font-weight: 400;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__fqB95 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.img__rj31B {
  object-fit: contain;
  max-width: 100%;
}
.img__rj31B > picture > img {
  object-fit: contain;
}
.text__bq3TK {
  position: relative;
  color: #000000;
  font-weight: 400;
  margin-left: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__eiEog {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__eiEog > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eiEog > :global(.__wab_flex-container) > *,
.freeBox__eiEog > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eiEog > :global(.__wab_flex-container) > picture > img,
.freeBox__eiEog
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___9FJru:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #b1b1b3;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
  border-width: 0px;
}
.text__cQoFk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button__k87O6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #ff3b30;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
  border: 0px solid #010101;
}
.text__pBj9K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox___1Dgw9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text___69Ew4 {
  color: #27273a;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__l14Sy {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
.button__y7Tb1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 50px;
  max-height: 50px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(#ff3b30, #ff3b30), #48b7ff;
  min-width: 0;
  border-radius: 10px;
  border-width: 0px;
}
.text__zguWt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-left: 0px;
  min-width: 0;
}
.buyNftModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buyNftModal__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  overflow: hidden;
  outline: none;
}
.freeBox__fIcSx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uoLz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.img__vHt3O {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  border-radius: 12px;
}
.img__vHt3O > picture > img {
  object-fit: cover;
}
.text__qXzrF {
  position: relative;
  color: #27273a;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__iMe0 {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.text__g4RMu {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__s7TX {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__s7TX > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__s7TX > :global(.__wab_flex-container) > *,
.freeBox__s7TX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7TX > :global(.__wab_flex-container) > picture > img,
.freeBox__s7TX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__d4Hs9 {
  object-fit: contain;
  max-width: 100%;
}
.img__d4Hs9 > picture > img {
  object-fit: contain;
}
.text__h4XbT {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__xexyr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__xexyr > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xexyr > :global(.__wab_flex-container) > *,
.freeBox__xexyr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xexyr > :global(.__wab_flex-container) > picture > img,
.freeBox__xexyr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__vv5Y2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #b1b1b3;
  color: #ffffff;
  font-weight: 700;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
}
.text__ubC5B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #fffefe;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button__maOvP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  color: #fdfdfd;
  background: #34c759;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
}
.text___8IIhL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #fffefe;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox___9ELnN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__hPEo {
  color: #27273a;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__syoDg {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 24px;
  cursor: pointer;
}
.button__vqVxh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  max-height: 50px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background: #48b7ff;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  border-width: 0px;
}
.text__aRNjG {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listNftModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.listNftModal__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  overflow: hidden;
  outline: none;
}
.freeBox__yUfhj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__usfPi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.img__g5Bec {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  border-radius: 12px;
}
.img__g5Bec > picture > img {
  object-fit: cover;
}
.text__pxigg {
  position: relative;
  color: #27273a;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__n2Wy {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.text__fzkRw {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__t1Dqs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__sgPTd {
  position: relative;
  color: #27273a;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dty5D {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  padding: 4px 8px;
  border: 1px solid #000000;
}
.img__xYfE4 {
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 16px;
  flex-shrink: 0;
}
.img__xYfE4 > picture > img {
  object-fit: cover;
}
.chakraUiNumberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraUiNumberInputStepper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.listPriceInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-left: 1px;
  width: 393px;
  margin-right: 0px;
  flex-shrink: 0;
}
.text___3GCez {
  position: relative;
  margin-left: 6px;
  color: #535353;
}
.freeBox___7XlIn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.freeBox___7XlIn > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___7XlIn > :global(.__wab_flex-container) > *,
.freeBox___7XlIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7XlIn > :global(.__wab_flex-container) > picture > img,
.freeBox___7XlIn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__uwoJi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #b1b1b3;
  color: #ffffff;
  font-weight: 700;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
}
.text__bn77O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.confirmListingModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.confirmListingModal__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  overflow: hidden;
  outline: none;
}
.freeBox__yqSug {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.img__saE6C {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  border-radius: 12px;
}
.img__saE6C > picture > img {
  object-fit: cover;
}
.text__zEgu7 {
  position: relative;
  color: #27273a;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dzGhl {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.text__kByxd {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__lN4Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__atUww {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin-bottom: 10px;
}
.text___9FsZ {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hhdxI {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__hhdxI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__hhdxI > :global(.__wab_flex-container) > *,
.freeBox__hhdxI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhdxI > :global(.__wab_flex-container) > picture > img,
.freeBox__hhdxI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.img__cl5Sk {
  object-fit: contain;
  max-width: 100%;
}
.img__cl5Sk > picture > img {
  object-fit: contain;
}
.text__qRs8N {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__s8R38 {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #27273a;
}
.text__yxE5Z {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ofq5E {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__ofq5E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ofq5E > :global(.__wab_flex-container) > *,
.freeBox__ofq5E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ofq5E > :global(.__wab_flex-container) > picture > img,
.freeBox__ofq5E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__ounuy {
  object-fit: contain;
  max-width: 100%;
}
.img__ounuy > picture > img {
  object-fit: contain;
}
.text__nRnj7 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__g4UkT {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding-top: 10px;
}
.text__vBsH {
  position: relative;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__zR5Gx {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__zR5Gx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__zR5Gx > :global(.__wab_flex-container) > *,
.freeBox__zR5Gx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zR5Gx > :global(.__wab_flex-container) > picture > img,
.freeBox__zR5Gx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__r47N8 {
  object-fit: contain;
  max-width: 100%;
}
.img__r47N8 > picture > img {
  object-fit: contain;
}
.text__drVoo {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___1MNdD {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.freeBox___1MNdD > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___1MNdD > :global(.__wab_flex-container) > *,
.freeBox___1MNdD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1MNdD > :global(.__wab_flex-container) > picture > img,
.freeBox___1MNdD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button___7HzGh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #b1b1b3;
  color: #f9f9f9;
  font-weight: 700;
  width: 100%;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
  border-width: 0px;
}
.text__djZea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button__pzq3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #48b7ff;
  color: #f9f9f9;
  font-weight: 700;
  width: 100%;
  height: 40px;
  min-width: 0;
  border-radius: 8px;
  border-width: 0px;
}
.text__mzIl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__ewnwk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__qRal2 {
  color: #27273a;
  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__w8BQq {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
.button__kxWPl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 454px;
  height: 40px;
  font-weight: 700;
  color: #ffffff;
  background: #48b7ff;
  border-radius: 8px;
}
.text__xa35V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox___1AYeT {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__hluU2 {
  color: #27273a;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__ydduM {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
.button___1REGc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  max-height: 50px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background: #48b7ff;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  border-width: 0px;
}
.text__ro2XD {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox___6Y3FJ {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
}
.freeBox___6Y3FJ > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6Y3FJ > :global(.__wab_flex-container) > *,
.freeBox___6Y3FJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Y3FJ > :global(.__wab_flex-container) > picture > img,
.freeBox___6Y3FJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___3VwDe {
  position: relative;
  color: #27273a;
  font-weight: 900;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__kyLko {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 10px;
  padding: 10px 12px;
  border: 1px solid #000000;
}
.freeBox___56K4 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__ujh0O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}
.text__y7Pd {
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4XPwj {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___8Lqvs {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 10px;
  padding: 8px 12px;
  border: 1px solid #000000;
}
.freeBox__kd6Wc {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__d26Zp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}
.text__jq2Vf {
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__jWUsM {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__e2V7R {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 10px;
  padding: 8px 12px;
  border: 1px solid #000000;
}
.freeBox__v89BE {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__xykex {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}
.text__ombQo {
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__unzNi {
  position: relative;
  color: #27273a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__thYkl {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1126px;
  width: 100%;
  min-width: 0;
  margin: 20px auto 30px;
}
.text___4Jo13 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  color: #27273a;
  text-align: left;
  text-transform: none;
  line-height: 140%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  left: 0px;
  top: 0px;
}
@media (max-width: 660px) {
  .text___4Jo13 {
    position: relative;
    left: auto;
    top: auto;
    text-align: left;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
